Repository gidorah/PharmacyOnDuty: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, missing-migrations, tailwind-build

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  pass_filenames: true

missing-migrations:
  name: Check for missing migrations
  entry: uv run python manage.py makemigrations --check --dry-run
  language: system
  pass_filenames: false

tailwind-build:
  name: Build Tailwind CSS
  entry: "bash -c '\n  uv run python manage.py tailwind build &&\n  git add theme/static/css/*\n'\n"
  language: system
  pass_filenames: false

🔒 fix(security): replace print() with logger to stop PII leaking into stdout (closes #94)
  pharmacies/tasks.py
  pharmacies/views.py
Due: mypy, tailwind-build

🔒 fix(security): rate-limit get_pharmacy_points to 30 req/min per IP (closes #125)
  PharmacyOnDuty/settings.py
  PharmacyOnDuty/urls.py
  pharmacies/views.py
  pyproject.toml
  uv.lock
Due: mypy, tailwind-build

fix(security): address CodeRabbit review on PR #133
  PharmacyOnDuty/settings.py
  PharmacyOnDuty/urls.py
  pharmacies/views.py
  pyproject.toml
Due: mypy, tailwind-build

fix: add missing CACHES default backend to prevent cache_page 500
  PharmacyOnDuty/settings.py
Due: mypy, tailwind-build

fix(security): use HTTP_X_REAL_IP instead of HTTP_X_FORWARDED_FOR for rate limiting
  PharmacyOnDuty/settings.py
Due: mypy, tailwind-build

🐛 fix: add per-district exception handling in Istanbul scraper (closes #134)
  pharmacies/utils/istanbul_saglik_scraper.py
Due: mypy, tailwind-build

fix: add district context to coordinates-missing log warning
  pharmacies/utils/istanbul_saglik_scraper.py
Due: mypy, tailwind-build

test: update Istanbul scraper tests for new log-and-continue behaviour
  pharmacies/tests/test_istanbul_scraper.py
Due: mypy, tailwind-build

🔒 fix(security): move SecurityMiddleware before WhitenoiseMiddleware (closes #113)
  PharmacyOnDuty/settings.py
Due: mypy, tailwind-build

Harden Coolify port bindings
  AGENTS.md
  docker/prod/services/docker-compose.yml
Due: none

Harden Coolify port bindings (#138)
  AGENTS.md
  docker/prod/services/docker-compose.yml
Due: none

Add project maintenance automation templates
  .codex/maintenance.md
Due: none

Update Sentry CLI config in maintenance spec
  .codex/maintenance.md
Due: none

🔧 chore: harden maintenance automation setup
  .codex/maintenance.md
  docker/dev/automation.env
  docker/dev/docker-compose.yml
Due: none

🐛 fix: harden Google Maps config and pharmacy lookup errors
  .env.example
  .gitignore
  PharmacyOnDuty/settings.py
  pharmacies/tests/test_views.py
  pharmacies/utils/pharmacy_fetch.py
  pharmacies/views.py
  readme.md
  tests/test_settings_maps_warnings.py
Due: mypy, tailwind-build

🩹 fix: map domain ValueErrors to 400 in pharmacy lookup
  pharmacies/tests/test_views.py
  pharmacies/views.py
Due: mypy, tailwind-build

🐛 fix: stop pharmacy UI from sticking on geo fallback
  theme/static/css/dist/styles.css
  theme/templates/pharmacies.html
Due: tailwind-build

🩹 fix: harden pharmacy load races after geo fallback
  theme/templates/pharmacies.html
Due: tailwind-build

♻️ refactor: migrate map directions to Route.computeRoutes
  pharmacies/tests/test_views.py
  pharmacies/views.py
  theme/templates/pharmacies.html
Due: mypy, tailwind-build

♻️ refactor: migrate map directions to Route.computeRoutes (#149)
  pharmacies/tests/test_views.py
  pharmacies/views.py
  theme/templates/pharmacies.html
Due: mypy, tailwind-build

🐛 fix: handle missing Google Places vicinity
  pharmacies/tests/test_utils.py
  pharmacies/utils/utils.py
Due: mypy, tailwind-build

🐛 fix: handle missing Google Places vicinity (#158)
  pharmacies/tests/test_utils.py
  pharmacies/utils/utils.py
Due: mypy, tailwind-build

remove claude workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

🔒 fix(security): move SecurityMiddleware before WhitenoiseMiddleware (closes #113) (#137)
  PharmacyOnDuty/settings.py
Due: mypy, tailwind-build

🔒 fix: upgrade cryptography to patched release
  uv.lock
Due: none

🔒 fix: remediate cryptography PKCS#7 oracle advisory
  uv.lock
Due: none

🔒️ fix: upgrade sqlparse to 0.6.0
  pyproject.toml
  uv.lock
Due: none

🔒️ fix: upgrade sqlparse to 0.6.0 (#177)
  pyproject.toml
  uv.lock
Due: none

🐛 fix: map out-of-coverage city lookups to 400 not Sentry 502
  pharmacies/tests/test_utils.py
  pharmacies/tests/test_views.py
  pharmacies/utils/__init__.py
  pharmacies/utils/utils.py
  pharmacies/views.py
Due: mypy, tailwind-build

Path conditions:
  mypy: any of: \.py$, but not: docs/|node_modules/|migrations/|.git/|.tox/|dist/|build/
  missing-migrations: any of: models.py and \.py$ and not (docs/|node_modules/|migrations/|.git/|.tox/|dist/|build/)
  tailwind-build: any of: \.(html|htm|xhtml)$, \.py$, \.(js|mjs|cjs)$, but not: docs/|node_modules/|migrations/|.git/|.tox/|dist/|build/
