Repository gidorah/PharmacyOnDuty: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, missing-migrations, tailwind-build

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  pass_filenames: true

missing-migrations:
  name: Check for missing migrations
  entry: uv run python manage.py makemigrations --check --dry-run
  language: system
  pass_filenames: false

tailwind-build:
  name: Build Tailwind CSS
  entry: "bash -c '\n  uv run python manage.py tailwind build &&\n  git add theme/static/css/*\n'\n"
  language: system
  pass_filenames: false

fix(sentry): Ignore SystemExit exceptions to reduce Gunicorn noise
  PharmacyOnDuty/settings.py
  conductor/tracks.md
  conductor/tracks/fix_systemexit_20251229/plan.md
  pharmacies/tests/test_sentry_config.py
Due: mypy, tailwind-build

conductor(plan): Mark phase 'Implementation and Fix' and track 'Fix SystemExit: 1 in Sentry' as complete
  conductor/tracks.md
  conductor/tracks/fix_systemexit_20251229/plan.md
Due: none

conductor: Archive completed track 'Fix SystemExit: 1 in Sentry'
  conductor/archive/fix_systemexit_20251229/metadata.json
  conductor/archive/fix_systemexit_20251229/plan.md
  conductor/archive/fix_systemexit_20251229/spec.md
  conductor/tracks.md
Due: none

conductor: Clean up moved track files
  conductor/tracks/fix_systemexit_20251229/metadata.json
  conductor/tracks/fix_systemexit_20251229/plan.md
  conductor/tracks/fix_systemexit_20251229/spec.md
Due: none

docs: Update README with correct test suite status and project structure
  readme.md
Due: none

feat(sentry): filter DisallowedHost exceptions from Sentry
  PharmacyOnDuty/settings.py
  conductor/tracks.md
  conductor/tracks/filter_sentry_noise_20251229/plan.md
  pharmacies/tests/test_sentry_config.py
Due: mypy, tailwind-build

conductor(plan): Mark phase 'Phase 1: Implement Sentry Filtering' as complete
  conductor/tracks/filter_sentry_noise_20251229/plan.md
Due: none

chore(conductor): Archive track 'Filter DisallowedHost in Sentry'
  conductor/archive/filter_sentry_noise_20251229/metadata.json
  conductor/archive/filter_sentry_noise_20251229/plan.md
  conductor/archive/filter_sentry_noise_20251229/spec.md
  conductor/tracks.md
Due: none

chore(conductor): Include readme.md in documentation sync protocol
  conductor/workflow.md
Due: none

feat(phase): Complete Phase 1: Refactor scraper N+1 queries
  conductor/tracks.md
  conductor/tracks/perf_scraper_20251220/plan.md
  pharmacies/tests/test_scraper_performance.py
  pharmacies/tests/test_utils.py
  pharmacies/utils/utils.py
Due: mypy, tailwind-build

conductor(plan): Mark phase 'Refactoring' as complete
  conductor/tracks/perf_scraper_20251220/plan.md
Due: none

Track finished
  conductor/archive/perf_scraper_20251220/metadata.json
  conductor/archive/perf_scraper_20251220/plan.md
  conductor/archive/perf_scraper_20251220/spec.md
  conductor/tracks.md
Due: none

✅ test: fix sentry config test patching
  pharmacies/tests/test_sentry_config.py
Due: mypy, tailwind-build

feat(docstrings): Complete Phase 1: Tooling and Baseline Establishment
  pyproject.toml
  uv.lock
Due: none

conductor(plan): Mark phase 'Phase 1: Tooling and Baseline Establishment' as complete
  conductor/tracks/docstrings_20251228/plan.md
Due: none

feat(docstrings): Complete Phase 2: Core Application Documentation
  pharmacies/apps.py
  pharmacies/models.py
  pharmacies/tasks.py
  pharmacies/urls.py
  pharmacies/views.py
Due: mypy, missing-migrations, tailwind-build

conductor(plan): Mark phase 'Phase 2: Core Application Documentation' as complete
  conductor/tracks/docstrings_20251228/plan.md
Due: none

feat(docstrings): Complete Phase 3: Utilities and Scrapers Documentation
  pharmacies/utils/ankaraeo_scraper.py
  pharmacies/utils/eskisehireo_scraper.py
  pharmacies/utils/istanbul_saglik_scraper.py
  pharmacies/utils/pharmacy_fetch.py
  pharmacies/utils/utils.py
Due: mypy, tailwind-build

conductor(plan): Mark phase 'Phase 3: Utilities and Scrapers Documentation' as complete
  conductor/tracks/docstrings_20251228/plan.md
Due: none

feat(docstrings): Complete Phase 4: Management Commands and Project Root Documentation
  PharmacyOnDuty/celery.py
  PharmacyOnDuty/sitemaps.py
  pharmacies/management/commands/celery.py
  pharmacies/management/commands/seed_cities.py
Due: mypy, tailwind-build

conductor(plan): Mark phase 'Phase 4: Management Commands and Project Root Documentation' as complete
  conductor/tracks/docstrings_20251228/plan.md
Due: none

conductor(plan): Mark phase 'Phase 5: Final Verification and Threshold Audit' as complete
  conductor/tracks/docstrings_20251228/plan.md
Due: none

docs: Update project documentation for docstring tools
  conductor/tech-stack.md
  conductor/tracks.md
  readme.md
Due: none

conductor(archive): Archive completed track 'docstrings_20251228'
  conductor/archive/docstrings_20251228/metadata.json
  conductor/archive/docstrings_20251228/plan.md
  conductor/archive/docstrings_20251228/spec.md
  conductor/tracks.md
Due: none

📝 docs: initialize project-wide agent knowledge base
  AGENTS.md
  conductor/AGENTS.md
  docker/AGENTS.md
  pharmacies/AGENTS.md
  theme/AGENTS.md
Due: none

feat(phase): Complete Phase 1: Data Preparation & Snapshots
  conductor/tracks/location_tests_20251230/plan.md
  scripts/record_distance_matrix.py
  tests/fixtures/fabricated_pharmacies.json
  tests/fixtures/google_api_snapshots.json
  tests/fixtures/location_scenarios.json
  tests/fixtures/pharmacies_snapshot.json
Due: mypy, tailwind-build

conductor(plan): Mark phase 'Phase 1: Data Preparation & Snapshots' as complete
  conductor/tracks/location_tests_20251230/plan.md
Due: none

feat(phase): Complete Phase 2: Test Implementation & Mocking
  AGENTS.md
  conductor/tracks.md
  conductor/tracks/location_tests_20251230/metadata.json
  conductor/tracks/location_tests_20251230/plan.md
  conductor/tracks/location_tests_20251230/spec.md
  pharmacies/utils/utils.py
  pharmacies/views.py
  tests/conftest.py
  tests/fixtures/location_scenarios.json
  tests/test_location_coverage.py
Due: mypy, tailwind-build

test(coverage): Add logic verification for pharmacy sorting and travel metrics
  tests/test_location_coverage.py
Due: mypy, tailwind-build

conductor(plan): Mark phase 'Phase 3: Final Verification & Refactor' as complete
  conductor/tracks/location_tests_20251230/plan.md
Due: none

conductor(plan): Mark track as fully verified and complete
  conductor/tracks/location_tests_20251230/plan.md
Due: none

conductor(tracks): Mark location_tests_20251230 as complete
  conductor/tracks.md
Due: none

docs: Update product and tech stack with reliability enhancements from location tests
  conductor/product.md
  conductor/tech-stack.md
Due: none

conductor(archive): Archive completed track 'add tests for multiple user locations to project'
  conductor/archive/location_tests_20251230/metadata.json
  conductor/archive/location_tests_20251230/plan.md
  conductor/archive/location_tests_20251230/spec.md
  conductor/tracks.md
Due: none

🚚 move: cleanup active track after archival
  conductor/tracks/location_tests_20251230/metadata.json
  conductor/tracks/location_tests_20251230/plan.md
  conductor/tracks/location_tests_20251230/spec.md
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Update AGENTS.md
  AGENTS.md
Due: none

✅ test: add performance tests and tighten coverage assertions
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/fixtures/location_scenarios.json
  tests/helpers.py
  tests/test_location_coverage.py
  tests/test_performance.py
  uv.lock
Due: mypy, tailwind-build

Path conditions:
  mypy: any of: \.py$, but not: docs/|node_modules/|migrations/|.git/|.tox/|dist/|build/
  missing-migrations: any of: models.py and \.py$ and not (docs/|node_modules/|migrations/|.git/|.tox/|dist/|build/)
  tailwind-build: any of: \.(html|htm|xhtml)$, \.py$, \.(js|mjs|cjs)$, but not: docs/|node_modules/|migrations/|.git/|.tox/|dist/|build/
