Repository gidorah/PharmacyOnDuty: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, missing-migrations, tailwind-build

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  pass_filenames: true

missing-migrations:
  name: Check for missing migrations
  entry: uv run python manage.py makemigrations --check --dry-run
  language: system
  pass_filenames: false

tailwind-build:
  name: Build Tailwind CSS
  entry: "bash -c '\n  uv run python manage.py tailwind build &&\n  git add theme/static/css/*\n'\n"
  language: system
  pass_filenames: false

🔒️ fix: harden pharmacy lookup request handling
  pharmacies/tests/test_views.py
  pharmacies/views.py
Due: mypy, tailwind-build

🔒️ fix: tighten pharmacy lookup validation errors
  pharmacies/tests/test_views.py
  pharmacies/views.py
Due: mypy, tailwind-build

🔒️ fix: support non-docker database configuration
  PharmacyOnDuty/database_config.py
  PharmacyOnDuty/settings.py
  scripts/__init__.py
  scripts/wait_for_services.py
  tests/test_database_config.py
  tests/test_wait_for_services.py
Due: mypy, tailwind-build

✅ test: tighten database config regression coverage
  PharmacyOnDuty/database_config.py
  scripts/wait_for_services.py
  tests/test_database_config.py
  tests/test_wait_for_services.py
Due: mypy, tailwind-build

Run wait script as module from app path
  scripts/entrypoint.sh
  tests/test_entrypoint.py
Due: mypy, tailwind-build

Update PharmacyOnDuty/settings.py
  PharmacyOnDuty/settings.py
Due: mypy, tailwind-build

Update .jules/sentinel.md
  .jules/sentinel.md
Due: none

🔒️ fix: add regression coverage for debug default
  pharmacies/tests/test_sentry_config.py
  readme.md
Due: mypy, tailwind-build

🧑‍💻 dx: remove stale ty suppressions
  pharmacies/utils/pharmacy_fetch.py
  pharmacies/utils/utils.py
  scripts/wait_for_services.py
  tests/test_wait_for_services.py
Due: mypy, tailwind-build

🐛 fix: harden scraper resilience
  pharmacies/tasks.py
  pharmacies/tests/test_ankara_scraper.py
  pharmacies/tests/test_istanbul_scraper.py
  pharmacies/tests/test_tasks.py
  pharmacies/utils/ankaraeo_scraper.py
  pharmacies/utils/istanbul_saglik_scraper.py
Due: mypy, tailwind-build

🐛 fix: respect proxied HTTPS for CSRF checks
  PharmacyOnDuty/settings.py
  pharmacies/tests/test_views.py
Due: mypy, tailwind-build

🩹 fix: address PR review feedback
  PharmacyOnDuty/settings.py
  pharmacies/tests/test_sentry_config.py
  pharmacies/tests/test_views.py
  readme.md
Due: mypy, tailwind-build

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

🔒 security: bump django to 5.2.13
  pyproject.toml
  uv.lock
Due: none

🔒 security: harden Django transport settings
  PharmacyOnDuty/settings.py
  PharmacyOnDuty/urls.py
Due: mypy, tailwind-build

fix: use timezone.localtime() for Ankara date URL construction
  pharmacies/utils/ankaraeo_scraper.py
Due: mypy, tailwind-build

📝 docs: consolidate agent guides into CLAUDE.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: none

🚀 ci: grant pull-requests write to Claude review workflow
  .github/workflows/claude-code-review.yml
Due: none

🚀 ci: grant pull-requests write to Claude review workflow (#100)
  .github/workflows/claude-code-review.yml
Due: none

🔒 security: bump pygments to 2.20.0
  pyproject.toml
  uv.lock
Due: none

🚑️ ci: make Claude Code Review actually post comments
  .github/workflows/claude-code-review.yml
Due: none

🚑️ ci: make Claude Code Review actually post comments (#103)
  .github/workflows/claude-code-review.yml
Due: none

fix: use timezone.localtime() for Ankara date URL construction (#95)
  pharmacies/utils/ankaraeo_scraper.py
Due: mypy, tailwind-build

🔒 security: bump pygments to 2.20.0 (#101)
  pyproject.toml
  uv.lock
Due: none

🔧 fix(maps): replace deprecated Maps JS APIs on pharmacies page
  PharmacyOnDuty/settings.py
  PharmacyOnDuty/urls.py
  pharmacies/tests/test_views.py
  pharmacies/views.py
  readme.md
  theme/templates/pharmacies.html
Due: mypy, tailwind-build

🔒️ security: wire new HTTPS settings through prod compose
  PharmacyOnDuty/settings.py
  docker/prod/services/docker-compose.yml
  readme.md
Due: mypy, tailwind-build

🔒 security: harden Django transport settings (HSTS, secure cookies, dev-only browser reload) (#92)
  PharmacyOnDuty/settings.py
  PharmacyOnDuty/urls.py
  docker/prod/services/docker-compose.yml
  readme.md
Due: mypy, tailwind-build

🐛 fix(maps): restore route rendering and viewport auto-fit
  pharmacies/tests/test_views.py
  pharmacies/views.py
  theme/templates/pharmacies.html
Due: mypy, tailwind-build

🔒️ fix(xss): render pharmacy fields via DOM APIs, not HTML strings
  theme/templates/pharmacies.html
Due: tailwind-build

🔒 fix(security): restrict google_maps_proxy to allowlisted query params (closes #93)
  pharmacies/views.py
Due: mypy, tailwind-build

🐛 fix(workers): pass CELERY_BROKER_URL so wait_for_services.py checks Redis on startup
  docker/prod/workers/docker-compose.yml
  pharmacies/tests/test_input_validation.py
  tests/test_location_coverage.py
Due: mypy, tailwind-build

ci: skip claude-review for Dependabot PRs
  .github/workflows/claude-code-review.yml
Due: none

🚀 ci: allow Claude Code Review to run on Dependabot PRs
  .github/workflows/claude-code-review.yml
Due: none

🚀 ci: allow Claude Code Review to run on Dependabot PRs (#120)
  .github/workflows/claude-code-review.yml
Due: none

🚀 ci: skip Dependabot PRs in Claude Code Review
  .github/workflows/claude-code-review.yml
Due: none

🚀 ci: skip Dependabot PRs in Claude Code Review (#121)
  .github/workflows/claude-code-review.yml
Due: none

🐛 fix: close stale DB connections on task_failure signal (closes #122)
  pharmacies/tasks.py
Due: mypy, tailwind-build

🐛 fix: close stale DB connections in custom result backend (closes #122)
  PharmacyOnDuty/settings.py
  pharmacies/backends.py
  pharmacies/tasks.py
Due: mypy, tailwind-build

fix: remove redundant type: ignore comments in backends.py
  pharmacies/backends.py
Due: mypy, tailwind-build

Path conditions:
  mypy: any of: \.py$, but not: docs/|node_modules/|migrations/|.git/|.tox/|dist/|build/
  missing-migrations: any of: models.py and \.py$ and not (docs/|node_modules/|migrations/|.git/|.tox/|dist/|build/)
  tailwind-build: any of: \.(html|htm|xhtml)$, \.py$, \.(js|mjs|cjs)$, but not: docs/|node_modules/|migrations/|.git/|.tox/|dist/|build/
